//Font Family
$lato: 'Lato', sans-serif;

// Paleta Colores
$white: #FFF;
$green-cv: #7CEA9C;
$blue-cv: #203047;
$black-cv: #071013;

//Font Weight
$regular: 400;
$bold: 700;

//Font Sizes
$xx-large: 50px;
$x-large: 35px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
